<div>
    <h1>{{ vm.name }}</h1>
</div>


<!-- Debugging info -->
<div style="border:1px dashed red"><pre style="background-color: white; color: black;" ng-repeat="(key,value) in this">{{key}}: {{value | json}}</pre></div>